In [143]:
from __future__ import print_function

from sklearn.preprocessing import OneHotEncoder
from keras.layers.core import Dense, Activation, Dropout
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Embedding
from keras.layers import LSTM
from keras.datasets import imdb
import pandas as pd
import numpy as np
import os

In [144]:
maxlen = 30
labels = 2

In [145]:
input = pd.read_csv("final_data.csv")

In [146]:
input

       Unnamed: 0                  Name Gender
0               0      dương phương mai      f
1               1      dương phương nam      m
2               2      dương quang minh      m
3               3      dương quang vinh      m
4               4      dương quốc khánh      m
...           ...                   ...    ...
63768       63768   nguyễn thị thúy ưng      f
63769       63769   nguyễn đức anh linh      m
63770       63770  nguyễn thị thục oanh      f
63771       63771  nguyễn thị vân huyền      f
63772       63772  nguyễn thị xuân oanh      f

[63773 rows x 3 columns]

In [147]:
del input['Unnamed: 0']

In [148]:
input.columns = ['Name','Gender']
input['namelen']= [len(str(i)) for i in input['Name']]
input1 = input[(input['namelen'] >= 2) ]

In [149]:
names = input['Name']
gender = input['Gender']
vocab = set(' '.join([str(i) for i in names]))
vocab.add('END')
len_vocab = len(vocab)

In [150]:
char_index = dict((c, i) for i, c in enumerate(vocab))

In [151]:
msk = np.random.rand(len(input1)) < 0.8
train = input1[msk]
test = input1[~msk]

In [152]:
test

                       Name Gender  namelen
2          dương quang minh      m       16
5          dương quốc phong      m       16
6          dương quốc trung      m       16
10         dương thanh tùng      m       16
15          phạm hùng cường      m       15
...                     ...    ...      ...
63736      lưu thị hồng ánh      f       16
63761    trần nho hải dương      m       18
63763    trần phạm công huy      m       18
63765    trần thị bích thuỷ      f       18
63772  nguyễn thị xuân oanh      f       20

[12588 rows x 3 columns]

In [153]:
train

                       Name Gender  namelen
0          dương phương mai      f       16
1          dương phương nam      m       16
3          dương quang vinh      m       16
4          dương quốc khánh      m       16
7          dương thanh bình      m       16
...                     ...    ...      ...
63767    trần thị hương cúc      f       18
63768   nguyễn thị thúy ưng      f       19
63769   nguyễn đức anh linh      m       19
63770  nguyễn thị thục oanh      f       20
63771  nguyễn thị vân huyền      f       20

[51185 rows x 3 columns]

In [154]:
train_X = []
trunc_train_Name = [str(i)[0:30] for i in train.Name]
for i in trunc_train_Name:
    tmp = [char_index[j] for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(char_index["END"])
    train_X.append(tmp)

In [155]:
def set_flag(i):
    tmp = np.zeros(108);
    tmp[i] = 1
    return(tmp)

In [156]:
train_X = []
train_Y = []
trunc_train_name = [str(i)[0:maxlen] for i in train.Name]
for i in trunc_train_Name:
    tmp = [set_flag(char_index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(set_flag(char_index["END"]))
    train_X.append(tmp)
for i in train.Gender:
    if i == 'm':
        train_Y.append([1,0])
    else:
        train_Y.append([0,1])

In [158]:
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape=(maxlen,len_vocab)))
model.add(Dropout(0.2))
model.add(LSTM(128, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(2, activation='softmax'))

model.add(Activation('softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam',metrics=['accuracy'])

In [159]:
test_X = []
test_Y = []
trunc_test_Name = [str(i)[0:maxlen] for i in test.Name]
for i in trunc_test_Name:
    tmp = [set_flag(char_index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(set_flag(char_index["END"]))
    test_X.append(tmp)
for i in test.Gender:
    if i == 'm':
        test_Y.append([1,0])
    else:
        test_Y.append([0,1])

In [160]:
train_X = np.array(train_X)
train_Y = np.array(train_Y)
test_X = np.array(test_X)
test_Y = np.array(test_Y)

In [161]:
batch_size=32
model.fit(train_X, train_Y,batch_size=batch_size,epochs=5,validation_data=(test_X, test_Y))

Epoch 1/5
1600/1600 [==============================] - 195s 119ms/step - loss: 0.4537 - accuracy: 0.8512 - val_loss: 0.4268 - val_accuracy: 0.8823
Epoch 2/5
1600/1600 [==============================] - 188s 118ms/step - loss: 0.4109 - accuracy: 0.8980 - val_loss: 0.4011 - val_accuracy: 0.9070
Epoch 3/5
1600/1600 [==============================] - 188s 118ms/step - loss: 0.3905 - accuracy: 0.9199 - val_loss: 0.3826 - val_accuracy: 0.9281
Epoch 4/5
1600/1600 [==============================] - 188s 118ms/step - loss: 0.3776 - accuracy: 0.9335 - val_loss: 0.3770 - val_accuracy: 0.9326
Epoch 5/5
1600/1600 [==============================] - 188s 117ms/step - loss: 0.3720 - accuracy: 0.9395 - val_loss: 0.3809 - val_accuracy: 0.9299

In [162]:
def gender(name):
  X=[]
  trunc = name
  trunc_name = [i[0:maxlen] for i in name]
  for i in trunc_name:
    tmp = [set_flag(char_index[j]) for j in str(i)]
    for k in range(0,maxlen - len(str(i))):
        tmp.append(set_flag(char_index["END"]))
    X.append(tmp)
  pred=model.predict(np.asarray(X))
  a = 'thị'
  print(pred[0])
  if a in trunc:
    return 'nữ'
  if pred[0][0] > pred[0][1]:
        return 'nam'
  else:
    return 'nữ'

In [179]:
gender('trần thị my')

[0.7310585  0.26894152]

'nữ'

In [169]:
model.save_weights('./model.h5')